{% verbatim %}
    <script id="lightbox-template" type="text/x-handlebars-template">
        <div class="lightbox-background">
            <div class="lightbox-wrapper">
                <div class="lightbox-image-wrapper">
                    <img class="lightbox-image" src="{{image.standard.image}}" />
                </div>
                <div class="lightbox-data clearfix">
                {{#if description}}
                    <div class="description">
                        {{niceLinks description}}
                    </div>
                {{/if}}
                    <div class="text pull-left">
                        <span class="dim">shared by</span> {{submitter.username}}
                        {{#if tags}}
                        <br>
                        {{#each tags}}
                        <span class="tag"><a href="/pins/tag/{{this}}/" class="">#{{this}}</a></span>
                        {{/each}}
                        {{/if}}
                    </div>
                    <div class="text extra pull-right">
                        <a href="/{{id}}/" class="btn btn-sm btn-default btn-success">Link</a>
                    </div>
                </div>
            </div>
        </div>
    </script>
{% endverbatim %}
